argparse==1.2.1
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
cryptography==2.1.4
cycler==0.10.0
Django==1.11.14
django-admin-view-permission==1.6
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.3
pip==9.0.1
psycopg2==2.7.5
pycrypto==2.6.1
pyparsing==2.2.0
Python==2.7.15
python-dateutil==2.7.2
pytz==2018.4
pyxdg==0.25
SecretStorage==2.3.1
setuptools==39.1.0
six==1.11.0
subprocess32==3.2.7
virtualenv==16.0.0
